<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.4/bokeh.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.4/bokeh-widgets.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.4/bokeh.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.4/bokeh-widgets.min.js"></script>

  </head>
  <body>
      <h1>Header text</h1>
      <div style="width: 50%">
        {{ div | safe }}
      </div>
  </body>
  <!-- import our script, mark as 'safe' so python doesn't strip dangerous characters from us -->
  {{ javascript | safe }}
</html>
